/**
 * os-windows, os-mac and os-linux provided by LL
 */

.os-windows .mac {
  display: none
}
.os-windows .linux {
  display: none
}

.os-mac .windows {
  display: none
}
.os-mac .linux {
  display: none
}

.os-linux .mac {
  display: none
}
.os-linux .windows {
  display: none
}
