/**
 * os-windows, os-mac and os-linux provided by LL
 */

.os-windows {
  .mac {
    display: none
  }
  .linux {
    display: none
  }
}

.os-mac {
  .windows {
    display: none
  }
  .linux {
    display: none
  }
}

.os-linux {
  .mac {
    display: none
  }
  .windows {
    display: none
  }
}
